:root {
  /* ## Colors */

  /* ### Primary */

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* ### Neutral */

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
main {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading p {
  text-align: center;
  color: var(--Grayish-Blue);
  padding-bottom: 24px;
}
.heading h1 {
  font-size: 1.5rem;
  padding: 24px 0;
}

.heading > h1 > span {
  display: block;
  font-weight: 200;
}

.card-container {
  padding: 24px 0;
  width: 325px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 24px 5px;
  border-radius: 7px;
  height: 218px;
  box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.466);
}
.card > img {
  width: 75px;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  margin-bottom: 24px;
}
.card > p {
  color: var(--Grayish-Blue);
  padding-bottom: 25px;
}

.card-container > .card:nth-child(1) {
  border-top: 5px solid var(--Cyan);
}
.card-container > .card:nth-child(3) {
  border-top: 5px solid var(--blue);
}
.card-container > .mid-card > .card:nth-child(1) {
  border-top: 5px solid var(--Red);
}
.card-container > .mid-card > .card:nth-child(2) {
  border-top: 5px solid var(--Orange);
}
.heading >p {
    width: 75%;
  }

footer {
  padding: 20px;
  text-align: center;
}

@media (min-width: 1150px) {
  body {
    font-family: "Poppins", sans-serif;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 200px;
  }
}
